<div class="sidebar d-flex flex-column flex-shrink-0 p-3">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <i class="bi bi-truck fs-3 me-2 text-info"></i>
    <span class="fs-4 fw-bold">Logistic Hub</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto gap-2">
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link text-white d-flex align-items-center">
        <i class="bi bi-speedometer2 me-2"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/shipment" routerLinkActive="active" class="nav-link text-white d-flex align-items-center">
        <i class="bi bi-box-seam me-2"></i>
        Vận đơn
      </a>
    </li>
    <li>
      <a routerLink="/driver" routerLinkActive="active" class="nav-link text-white d-flex align-items-center">
        <i class="bi bi-person-badge me-2"></i>
        Tài xế
      </a>
    </li>
    <li>
      <a routerLink="/vehicle" routerLinkActive="active" class="nav-link text-white d-flex align-items-center">
        <i class="bi bi-truck-flatbed me-2"></i>
        Phương tiện
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>Admin</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="#">Cài đặt</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
    </ul>
  </div>
</div>
